<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Patients</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-bold text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Patient Record Management System</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="index" class="nav-link active" aria-current="page">Add Patients</a></li>
      <li class="nav-item"><a href="display" class="nav-link">View Patients</a></li>
      <!-- <li class="nav-item"><a href="#" class="nav-link">email</a></li> -->
      <li class="nav-item"><a href="login" class="nav-link">Log Out</a></li>
    </ul>
  </header>
    <div class="container">
        <form action="/api/users" method="post" class="form row g-3">
            <div class="col-md-12">
                <h3>Patient Details</h3>
            </div>
            <div class="col-md-6">
              <label for="inputroom" class="form-label">Room No</label>
              <input type="text" class="form-control" id="inputroom" name="Room" autocomplete="off">
          </div>
            <div class="col-md-6">
                <label for="inputid" class="form-label">Admission Id</label>
                <input type="text" class="form-control" id="inputid" name="Id" autocomplete="off">
            </div>
            <div class="col-md-6">
                <label for="inputname" class="form-label">Name</label>
                <input type="text" class="form-control" id="inputname" name="Name" autocomplete="off">
            </div>
            <div class="col-md-6">
                <label for="inputage" class="form-label">Age</label>
                <input type="text" class="form-control" id="inputage" name="Age" autocomplete="off">
            </div>
            <div class="col-md-6">
              <label for="inputGender" class="form-label">Gender</label>
              <div class="mb-3"> 
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Gender" id="inputGenderMale" value="Male">
                    <label class="form-check-label" for="inputGenderMale">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Gender" id="inputGenderFemale" value="Female">
                    <label class="form-check-label" for="inputGenderFemale">Female</label>
                </div>
            </div>
          </div>
            <div class="col-md-6">
                <label for="inputblood" class="form-label">Blood Group</label>
                <input type="text" class="form-control" id="inputblood" name="BloodGroup" autocomplete="off">
            </div>
            <div class="col-md-6">
                <label for="inputphone" class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="inputphone" name="PhoneNumber" autocomplete="off">
            </div>
            <div class="col-md-6">
                <label for="inputbp" class="form-label">Blood Pressure</label>
                <input type="text" class="form-control" id="inputbp" name="BloodPressure" autocomplete="off">
            </div>
            <div class="col-md-6">
                <label for="inputdate" class="form-label">Date of Admission</label>
                <input type="date" class="form-control" id="inputdate" name="DateofAdmission" autocomplete="off">
            </div>
            <div class="col-md-6">
                <label for="inputaadhar" class="form-label">Aadhaar Number</label>
                <input type="text" class="form-control" id="inputaadhar" name="AadharNumber" autocomplete="off">
            </div>
            <div class="col-12">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" id="inputAddress" name="Address" autocomplete="off">
            </div>
            <div class="col-md-6">
                <label for="inputCity" class="form-label">City</label>
                <select id="inputCity" class="form-select" name="City">
                    <option selected>Select your City</option>
                    <option value="ariyalur">Ariyalur</option>
                    <option value="ariyalur">Ariyalur</option>
                    <option value="chengalpattu">Chengalpattu</option>
                    <option value="chennai">Chennai</option>
                    <option value="coimbatore">Coimbatore</option>
                    <option value="cuddalore">Cuddalore</option>
                    <option value="dharmapuri">Dharmapuri</option>
                    <option value="dindigul">Dindigul</option>
                    <option value="erode">Erode</option>
                    <option value="kallakurichi">Kallakurichi</option>
                    <option value="kancheepuram">Kancheepuram</option>
                    <option value="karur">Karur</option>
                    <option value="krishnagiri">Krishnagiri</option>
                    <option value="madurai">Madurai</option>
                    <option value="nagapattinam">Nagapattinam</option>
                    <option value="namakkal">Namakkal</option>
                    <option value="perambalur">Perambalur</option>
                    <option value="pudukkottai">Pudukkottai</option>
                    <option value="ramanathapuram">Ramanathapuram</option>
                    <option value="ranipet">Ranipet</option>
                    <option value="salem">Salem</option>
                    <option value="sivagangai">Sivagangai</option>
                    <option value="tenkasi">Tenkasi</option>
                    <option value="thanjavur">Thanjavur</option>
                    <option value="theni">Theni</option>
                    <option value="thiruvallur">Thiruvallur</option>
                    <option value="thiruvarur">Thiruvarur</option>
                    <option value="thoothukudi">Thoothukudi</option>
                    <option value="tiruchirapalli">Tiruchirapalli</option>
                    <option value="tirunelveli">Tirunelveli</option>
                    <option value="tirupathur">Tirupathur</option>
                    <option value="tiruppur">Tiruppur</option>
                    <option value="tiruvannamalai">Tiruvannamalai</option>
                    <option value="vellore">Vellore</option>
                    <option value="viluppuram">Viluppuram</option>
                    <option value="virudhunagar">Virudhunagar</option>                
                  </select>
            </div>
            <div class="col-md-4">
                <label for="inputState" class="form-label">State</label>
                <select id="inputState" class="form-select" name="State">
                    <option selected>Select your State</option>
                    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chandigarh">Chandigarh</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                    <option value="Daman and Diu">Daman and Diu</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Lakshadweep">Lakshadweep</option>
                    <option value="Puducherry">Puducherry</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Odisha">Odisha</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="Uttarakhand">Uttarakhand</option>
                    <option value="West Bengal">West Bengal</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="inputPin" class="form-label">Pin Code</label>
                <input type="text" class="form-control" id="inputPin" name="PinCode" autocomplete="off">
            </div>

            <!-- Attender details -->
            <div class="col-md-12">
                <h3>Attender Details</h3>
            </div>
            <div class="col-md-6">
                <label for="inputaname" class="form-label">Name</label>
                <input type="text" class="form-control" id="inputaname" name="AttenderName" autocomplete="off">
            </div>
            <div class="col-md-6">
                <label for="inputaphone" class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="inputaphone" name="AttenderPhoneNo" autocomplete="off">
            </div>
            <div class="col-md-6">
                <label for="inputaaadhar" class="form-label">Aadhaar Number</label>
                <input type="text" class="form-control" id="inputaaadhar" name="AttenderAadharNo" autocomplete="off">
            </div>
            <div class="col-md-6">
                <label for="inputaAddress" class="form-label">Address</label>
                <input type="text" class="form-control" id="inputaAddress" name="AttenderAddress" autocomplete="off">
            </div>
            <div class="col-md-6">
                <label for="inputaCity" class="form-label">City</label>
                <select id="inputaCity" class="form-select" name="AttenderCity">
                    <option selected>Select your City</option>
                    <option value="ariyalur">Ariyalur</option>
                    <option value="chengalpattu">Chengalpattu</option>
                    <option value="chennai">Chennai</option>
                    <option value="coimbatore">Coimbatore</option>
                    <option value="cuddalore">Cuddalore</option>
                    <option value="dharmapuri">Dharmapuri</option>
                    <option value="dindigul">Dindigul</option>
                    <option value="erode">Erode</option>
                    <option value="kallakurichi">Kallakurichi</option>
                    <option value="kancheepuram">Kancheepuram</option>
                    <option value="karur">Karur</option>
                    <option value="krishnagiri">Krishnagiri</option>
                    <option value="madurai">Madurai</option>
                    <option value="nagapattinam">Nagapattinam</option>
                    <option value="namakkal">Namakkal</option>
                    <option value="perambalur">Perambalur</option>
                    <option value="pudukkottai">Pudukkottai</option>
                    <option value="ramanathapuram">Ramanathapuram</option>
                    <option value="ranipet">Ranipet</option>
                    <option value="salem">Salem</option>
                    <option value="sivagangai">Sivagangai</option>
                    <option value="tenkasi">Tenkasi</option>
                    <option value="thanjavur">Thanjavur</option>
                    <option value="theni">Theni</option>
                    <option value="thiruvallur">Thiruvallur</option>
                    <option value="thiruvarur">Thiruvarur</option>
                    <option value="thoothukudi">Thoothukudi</option>
                    <option value="tiruchirapalli">Tiruchirapalli</option>
                    <option value="tirunelveli">Tirunelveli</option>
                    <option value="tirupathur">Tirupathur</option>
                    <option value="tiruppur">Tiruppur</option>
                    <option value="tiruvannamalai">Tiruvannamalai</option>
                    <option value="vellore">Vellore</option>
                    <option value="viluppuram">Viluppuram</option>
                    <option value="virudhunagar">Virudhunagar</option>                
                  </select>
            </div>
            <div class="col-md-4">
                <label for="inputaState" class="form-label">State</label>
                <select id="inputaState" class="form-select" name="AttenderState">
                    <option selected>Select your State</option>
                    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chandigarh">Chandigarh</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                    <option value="Daman and Diu">Daman and Diu</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Lakshadweep">Lakshadweep</option>
                    <option value="Puducherry">Puducherry</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Odisha">Odisha</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="Uttarakhand">Uttarakhand</option>
                    <option value="West Bengal">West Bengal</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="inputaPin" class="form-label">Pin Code</label>
                <input type="text" class="form-control" id="inputaPin" name="AttenderPinCode" autocomplete="off">
            </div>
            <div class="mx-auto p-3" style="width: 200px;">
                <button type="submit" class="btn btn-primary" id="btn">Add Patient</button>
            </div>

        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/javascript/index.js"></script>

</body>
</html>
